.bC {
  background-color: black;
}
#grey {
  color: grey;
}
.white {
  color: white;
}
span {
  color: #8cd19e;
}
#main-content{
  background-color: white;
}
#grey-padding {
  background-color: #383838;
  color: white;
}