.floatL {
  float: left;
}
.inline  li{
  display: inline;
}
#marpad{
  
  margin-bottom: 90px;
  padding-left: 900px;
  padding-top: 10px;

}
header div:first-child li{
  margin-right: 12px;
}
header div:nth-child(2) li{
  margin-right: 5px
}
header div:nth-child(2) li:nth-child(6){
 margin-right: 330px
}
header div:nth-child(2) li:nth-child(4):before,header div:nth-child(2) li:nth-child(6):before,#grey-padding nav li:nth-child(3):before,#grey-padding nav li:nth-child(4):before,#grey-padding nav li:nth-child(5):before {
   content: " | ";
}
 header div:first-child li:first-child:after{
  content: " | ";
 }
 #main-content{
   width:100%; 
   height:90px;
 }
 
 #articles div{
   width: 15%;
   float: left;
 }
 #articles div:first-child{
   margin-left:150px
 }
 #articles div h2, #articles div h2 ul{
   padding-right: 20px;
   padding-bottom: 10px;
 }
 #articles li{
   margin-top: 10px
 }
  #articles div h2{
    margin-bottom: 10px;
  }
 

footer section:nth-child(3){
  width: 100%;
  display: inline-block;
  margin-top: 90px;
  margin-left: 150px;
  padding-bottom: 30px;
}
footer section:nth-child(3) p, footer section:nth-child(3) img{
  float: left;
}

 #black-padding{
   display: block;
   margin-bottom: 40px;
  
 }
 #black-padding p, #black-padding input{
   display: inline-block;
 }
 #black-padding input{
   padding-right: 200px;
   padding-top: 10px;
   padding-bottom: 10px;
 }
#black-padding > p {
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 150px;
}

 #grey-padding {
   position: relative;
   width:100%;
   padding-top: 10px;
  padding-bottom: 10px;
  display: block;
 }
  #grey-padding nav li{
  display: inline-block;
  padding-right: 10px;
 }
 #grey-padding nav li:first-child{
   padding-right: 5px;
 }
 #grey-padding img{
   margin-left: 150px;
 }
 #grey-padding nav li:nth-child(2){
   padding-right: 550px;
 }
#articles li:hover {
  text-decoration: underline black;
}
#grey-padding li:hover {
  text-decoration: underline white;
}