
.bold{
  font-weight: bold
}
.fontSmall {
  font-size: 14px;
}
.fontMedium {
  font-size: 18px;
}
.fontLarge {
  font-size: 32px;
}
#black-padding  p {
  font-weight: bold;
  font-size: 22px
}
#articles  h2{
  font-weight: bold;
  font-size: 18px;
}
#grey-padding nav li{
  font-size: 12px;
}
#articles h2, #black-padding p{
  font-family: 'Montserrat', sans-serif;
  font-weight: extra-bold;
}
#articles li, footer section:nth-child(3), #grey-padding li{
  font-family: 'Poppins', sans-serif;
}